# To set-up a new interface do the following (for example eth0):
#
# ln -s /lib/systemd/system/ifup@.service \
#		/etc/systemd/system/network.target.wants/ifcfg@eth0.service
# or
# cp -a /lib/systemd/system/ifup@.service \
#		/etc/systemd/system/network.target.wants/ifcfg@eth0.service
# if you have to edit this service
#
[Unit]
Description=Start ifup for %I
After=network.service
Wants=network.service
Before=network-post.service

# If it's a vlan/bridge/macvlan slave put required masters like this:
#
#Before=ifcfg@eth0.service

[Service]
ExecStart=/sbin/ifup %I boot
ExecStop=/sbin/ifdown %I boot
RemainAfterExit=true
Type=oneshot
