[Unit]
Description=Initialize network
DefaultDependencies=no
After=syslog.target systemd-udev-settle.service
After=systemd-tmpfiles-setup.service
Wants=network.target systemd-udev.service systemd-udev-settle.service
Wants=local-fs.target
Before=network.target

[Service]
Type=oneshot
ExecStart=/etc/rc.d/init.d/network start
ExecStop=/etc/rc.d/init.d/network stop
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
