[Unit]
Description=Initialize network
DefaultDependencies=no
After=syslog.target
Wants=network.target
Before=network.target

[Service]
Type=oneshot
ExecStart=/sbin/service network start
ExecStop=/sbin/service network stop
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
