[Unit]
Description=Initialize storage subsystems (RAID, LVM, etc.)
DefaultDependencies=no
Conflicts=shutdown.target
After=cryptsetup.target pld-storage-init.service
Before=local-fs.target shutdown.target
Wants=pld-wait-storage.service
ConditionVirtualization=!container

[Service]
ExecStart=/lib/systemd/pld-storage-init
Type=oneshot
TimeoutSec=0
RemainAfterExit=yes
