[Unit]
Description=Clean /tmp on startup
DefaultDependencies=no
After=systemd-remount-fs.service
Before=systemd-tmpfiles-setup.service

[Service]
ExecStart=/lib/systemd/pld-clean-tmp
Type=oneshot
TimeoutSec=0
RemainAfterExit=yes
StandardOutput=journal+console

[Install]
WantedBy=basic.target
